<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>


  <div  *ngIf="dataLoaded == true" >
    
<div class="alert " style="background-color: skyblue;" role="alert">
  <h4>Renk Listesi</h4>

  </div>

   <div (click)="setCurrentColor(color)" *ngFor="let color of colors" class="list-group">
   
      <a
    
      routerLink="/cars/color/{{color.colorId}}"
    
        [class]=" getCurrentColorClass(color)"
        aria-current="true"
      >
   
      <h5> {{ color.colorName }}</h5> 
      </a>

    </div>
  </div>
