<div *ngIf="dataLoaded==false" class="spinner-grow"  style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

  <table  *ngIf="dataLoaded==true" class="table table-hover">
    <thead class="" style="border-color: antiquewhite;">
      <tr>
        <td class="text-center" colspan="5">
         <h4>
          Cars
         </h4>
        </td>
      </tr>
      <tr>
        <th>Id</th>
        <th>Arac adı</th>
        <th>Renk</th>
        <th>Gunluk Fiat</th>
        <th>Model</th>
     
        
      </tr>
    </thead>
  <tbody >
    <tr *ngFor="let car of cars">
      <td>{{ car.carId }}</td>
      <td>{{ car.brandName }}</td>    
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.modelYear }}</td>
   
    </tr>
  </tbody>
  </table>
